<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization App</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    <header>
        <h1>Data Visualization App</h1>
        <p>Explore and visualize your data with our interactive tools.</p>
    </header>
    <main >
        <section>
            <h2>Get Started</h2>
            <p>Choose where you want to go:</p>
            <div class="btn-container">
                <a href="/firstpage" class="btn">Go to First Page</a>
                <a href="/otherpage" class="btn">Go to Other Page</a>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>

</body>
</html>
