<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spotiviz - Spotify tracks data application</title>
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style-starter.css">
    <link rel="icon" href="assets/favicon/favicon.ico" type="image/x-icon">
</head>

<body>
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand" href="/">
                        <img class="img-fluid" src="assets/images/logo.png" alt=" "> 
                    </a>
                </h1>
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/firstdash">Dashboard 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/seconddash">Dashborad 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Dashborad 3</a>
                        </li>
                    </ul>
                </div>
                <div class="cont-ser-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
    <section id="home" class="w3l-banner py-5">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 banner-left pt-md-0 pt-5">
                    <h3 class="mb-sm-4 mb-3 title"><span class="type-js"><span
                        class="text-js"> This is our Spotify<br> Tracks Data Application</span></span></h3>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <a class="btn button-style" href="/firstdash">Get Started<i class="fa fa-angle-double-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 banner-right mt-md-0 mt-4">
                    <img class="img-fluid" src="assets/images/b1.png" alt=" ">
                </div>
            </div>
        </div>
    </section> 
    <div class="w3l-grids-block-5 py-5">
        <section id="grids5-block" class="pt-md-4 pb-md-5 py-4 mb-5">
            <div class="container">
                <div class="title-main text-center mx-auto mb-4">
                    <h3 class="title-big">Our Dachboards : Explore, Analyze, and Predict </h3>
                    <p class="sub-title mt-2">These dashboards are your gateway to exploring the fascinating world of music on Spotify. 
                        So, go ahead, click on the dashboard that piques your interest and 
                        embark on a journey of data-driven discovery.</p>
                </div>
                <div class="row mt-sm-5 pt-lg-2">
                    <div class="col-lg-4 col-sm-6">
                        <div class=" grids5-info">
                            <a href="/firstdash"><img src="assets/images/dash1.jpg" alt="" /></a>
                            <div class="blog-info">
                                <h4><a href="/firstdash">Exploratory Dashboard</a></h4>
                                <p>Delve into the Spotify tracks dataset, with an array of 
                                    filters and visualizations. Uncover patterns, trends, and details 
                                    of top songs, artists, and genres.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                        <div class=" grids5-info">
                            <a href="/seconddash"><img src="assets/images/dash2.jpg" alt="" /></a>
                            <div class="blog-info">
                                <h4><a href="/seconddash">Genre Prediction Dashboard </a></h4>
                                <p> The heart of our app. Predict and understand the genre of a track using
                                     machine learning models. Interact with the predictions and discover
                                      the magic behind the music.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6  mt-lg-0 mt-4">
                        <div class=" grids5-info">
                            <a href="/"><img src="assets/images/dash3.jpg" alt="" /></a>
                            <div class="blog-info">
                                <h4><a href="/">Further Analysis</a></h4>
                                <p>For those who crave more, this dashboard provides a space for additional
                                     insights, allowing you to explore fascinating aspects of the dataset that go beyond genre prediction.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="w3l-teams-32-main py-5">
        <div class="teams-32 py-md-4">
            <div class="container">
                <div class="title-main text-center mx-auto mb-4">
                    <h3 class="title-big">Meet Our Enthusiastic Duo</h3>
                    
                </div>
                <div class="row main-contteam-32 mt-sm-5 pt-lg-2">
                    <div class="col-lg-3 offset-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="https://www.linkedin.com/in/ines-ouhichi/"><img class="img-fluid" src="assets/images/team-ines3.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="https://www.linkedin.com/in/ines-ouhichi/" class="title-team-32">Ines Ouhichi</a></h6>
                            <p class="sm-text-32">Ines has a knack for finding patterns in data and an ear for music, 
                                making her a key contributor to the project.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 team-main-19">
                        <div class="column-19">
                            <a href="https://www.linkedin.com/in/selima-gadri/"><img class="img-fluid" src="assets/images/team-selima2.jpg" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="https://www.linkedin.com/in/selima-gadri/" class="title-team-32">Selima Gadri</a></h6>
                            <p class="sm-text-32">Selima's expertise lies in predictive modeling and data visualization, 
                                making her a valuable asset to the team.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    {{ script|safe }}
 
    <footer class="w3l-footer-22 position-relative mt-5 pt-5">
        <div class="footer-sub">
            <div class="container">
                <div class="text-txt">
                    <div class="right-side text-center">
                        <h4>Do you want to explore Spotify tracks dataset?</h4>
                        <a class="btn button-style mt-4" href="/firstdash">Get Started<i
                                class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="row sub-columns">
                        <div class="col-lg-4 col-md-6 col-sm-12 sub-one-left text-center">
                            <h6>About</h6>
                            <p>In Spotiviz, you'll find a curated selection of powerful tools to explore, 
                                analyze, and predict the world of music tracks on Spotify. Our dashboards are designed 
                                to provide you with in-depth insights and answers to the central business 
                                question: "How can we explain and predict the genre of a track?"</p>
                            <div class="columns-2">
                                <ul class="social">
                                    <li><a href="https://github.com/selimagadri/dataviz_project"><span class="fa fa-github" aria-hidden="true"></span></a></li>
                                    <li><a href="https://huggingface.co/datasets/maharshipandya/spotify-tracks-dataset"><span  aria-hidden="true">🤗</span></a></li>  
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 sub-two-right text-center">
                            <h6>Quick links</h6>
                            <ul>
                                <li><a href="/"><span class="fa fa-angle-double-right mr-2"></span>Home</a></li>
                                <li><a href="/firstdash"><span class="fa fa-angle-double-right mr-2"></span>Dashboard 1</a></li>
                                <li><a href="/seconddash"><span class="fa fa-angle-double-right mr-2"></span>Dashboard 2</a></li>
                                <li><a href="/"><span class="fa fa-angle-double-right mr-2"></span>Dashboard 3</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 sub-one-left text-center">
                            <h6>Contact</h6>
                            <div class="column2">
                                <div class="href1"><span class="fa fa-envelope-o" aria-hidden="true"></span><a href="mailto:selima.gadri@dauphine.tn">selima.gadri@dauphine.tn</a></div>
                                <div class="href1"><span class="fa fa-envelope-o" aria-hidden="true"></span><a href="mailto:ines.ouhichi@dauphine.tn">ines.ouhichi@dauphine.tn</a></div>
                                <div>
                                    <p class="contact-para"><span class="fa fa-map-marker" aria-hidden="true"></span>L'Université Paris Dauphine-PSL, campus de Tunis, 20 Rue Baudelaire, El-Omrane 1005</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>


    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the 
            // class of outer div
            // The second paramter is the speed between each letter is typed.   
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->

    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- for testimonials carousel -->
    <script src="assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: true,
                        loop: true
                    }
                }
            })
        })
    </script>
    <!-- //for testimonials carousel -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>